/*
Burhanuddin Lokhandwala
Student Id - 991523243
SYST-10199 - Web Programming
*/
/* 
    Created on : 20-Mar-2019, 1:14:17 PM
    Author     : Burhanuddin
*/
body
{
    background-color: rgba(200,180,120,0.5);
}
#header
{
    grid-area:header;
}

img
{
    box-shadow:12px 12px 10px green;
    border-radius: 10px 12px 12px 10px;
}


table#tab1
{
    background-color:rgba(201,211,192,0.5);
}
.tab2 ,tr,th,td
{
    border:3px black solid;
    font-size: 1.2em;
}

h2
{
    color: maroon;
    font-size:2em;
    font-weight: bold;
    text-shadow:2px 2px green; 
}
h3
{
    color: maroon;
    font-size:2em;
    font-weight: bold;
    text-shadow:2px 2px green; 
}

#order
{
    border:5px black solid;
    border-radius: 10px 12px 12px 10px;
    grid-area:order;
}
label
{
    font-size:1.04em;
    text-align: left;
    font-weight: bold;
}
#details
{
    border:5px black solid;
    border-radius: 10px 12px 12px 10px;
    grid-area:details;
}

.getContainer{
	display: grid;
	grid-template-areas:
	"header header"
                    "details order";
	grid-gap:10px;
}

